* {
  box-sizing: border-box;
}

body {
background-color: #72C2A5;
font-family: 'Montserrat', sans-serif;
max-width: 700px;
}

#body {
padding: 10px;
padding-top: 12px;
background-color: white;
border: 1px solid grey;
border: 3px solid green;
max-width: 700px;
border-radius: 35px;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
margin: auto;
width: 90%;
}

#title {
background-image: url('../images/apples.jpg');
border: 1px solid grey;
padding: 0px;
padding-top: 0px;
color: white;
height: 150px;
max-width: 700px;
border-radius: 20px;
text-align: center;
font-size: 31px;
font-family: 'Amatic SC', cursive;

}

#money, #next1 {
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

#dollar, #next2 {
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

#coin, #next3 {
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

#rich, #next4 {
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

img {
 max-width: 100%;
 border-radius: 20px;
 border: 1px solid grey;
}

#question1 {
  padding: 20px;
}

#question2 {
  padding: 20px;
}

#question3 {
  padding: 20px;
}

#question4 {
  padding: 20px;
}

@media (max-width: 700px)
